Repository SocialGouv/helm-charts, pull requests merged in 2019-12, with the labels that each got.

#22 feat: add chart to use Horizontal Pod Autoscaler
  .gitlab-ci.yml
  README.md
  charts/hpa/.gitlab-ci.yml
  charts/hpa/.helmignore
  charts/hpa/Chart.yaml
  charts/hpa/README.md
  charts/hpa/templates/NOTES.txt
  charts/hpa/templates/_helpers.tpl
  charts/hpa/templates/deployment.yaml
  charts/hpa/templates/hpa.yaml
  charts/hpa/templates/ingress.yaml
  charts/hpa/templates/service.yaml
  charts/hpa/templates/tests/test-connection.yaml
  charts/hpa/values.test.yaml
  charts/hpa/values.yaml
Labels: type: feat

#29 feat(just): add directory change options
  plugins/just/README.md
  plugins/just/just.sh
Labels: documentation, scope: just, type: feat

#30 feat(nodejs): add labels variable
  charts/nodejs/.gitlab-ci.yml
  charts/nodejs/README.md
  charts/nodejs/templates/_helpers.tpl
  charts/nodejs/templates/deployment.yaml
  charts/nodejs/templates/ingress.yaml
  charts/nodejs/values.test.yaml
  charts/nodejs/values.yaml
Labels: enhancement, scope: nodejs, type: feat
