Repository SocialGouv/helm-charts, pull requests merged in 2020-03, with the labels that each got.

#43 refactor(certificate)!: remove certificate chart
  .gitlab-ci.yml
  README.md
  charts/certificate/.gitlab-ci.yml
  charts/certificate/.helmignore
  charts/certificate/Chart.yaml
  charts/certificate/README.md
  charts/certificate/templates/NOTES.txt
  charts/certificate/templates/_helpers.tpl
  charts/certificate/templates/certificate.yaml
  charts/certificate/templates/tests/test-env.yaml
  charts/certificate/values.test.yaml
  charts/certificate/values.yaml
Labels: scope: certificate, type: refacto

#45 ci(just): prefix tests with job id
  plugins/just/.gitlab-ci.yml
Labels: scope: just, type: ci

#50 fix(hpa): change default targetPort to 80
  charts/hpa/values.yaml
Labels: bug

#51 fix(nodejs): change default targetPort to 80
  charts/nodejs/values.yaml
Labels: bug

#46 refactor(app)!: unify socialgouv app charts
  .gitlab-ci.yml
  charts/app/.gitlab-ci.yml
  charts/app/.helmignore
  charts/app/Chart.yaml
  charts/app/README.md
  charts/app/templates/NOTES.txt
  charts/app/templates/_helpers.tpl
  charts/app/templates/deployment.yaml
  charts/app/templates/hpa.yaml
  charts/app/templates/ingress.yaml
  charts/app/templates/service.yaml
  charts/app/templates/tests/test-connection.yaml
  charts/app/values.socialgouv.yaml
  charts/app/values.test.yaml
  charts/app/values.yaml
  charts/hpa/.gitlab-ci.yml
  charts/hpa/README.md
  charts/hpa/templates/NOTES.txt
  charts/hpa/templates/_helpers.tpl
  charts/hpa/templates/ingress.yaml
  charts/hpa/templates/service.yaml
  charts/hpa/values.test.yaml
  charts/hpa/values.yaml
  charts/nodejs/.gitlab-ci.yml
  charts/nodejs/.helmignore
  charts/nodejs/Chart.yaml
  charts/nodejs/README.md
  charts/nodejs/templates/deployment.yaml
  charts/nodejs/templates/tests/test-connection.yaml
  charts/nodejs/values.test.yaml
  charts/nodejs/values.yaml
  charts/webapp/.helmignore
  charts/webapp/Chart.yaml
  charts/webapp/README.md
  charts/webapp/templates/NOTES.txt
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/certificate.yaml
  charts/webapp/templates/deployment.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/service.yaml
  charts/webapp/values.yaml
Labels: scope: app, type: feat, type: refactor

#56 test(managed-pg): make test runnable locally
  CONTRIBUTING.md
  charts/managed-pg/.gitlab-ci.yml
  charts/managed-pg/README.md
  charts/managed-pg/test/create-db-user.bats
  charts/managed-pg/test/drop-db-user.bats
Labels: scope: managed-pg, type: test

#59 ci(gitlab): update helm charts app test
  charts/app/.gitlab-ci.yml
Labels: scope: app, scope: gitlab, type: ci
